{% extends 'core/dashboard.html' %}
{% load core_extra %}

{% block title %} Cases {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body text-center">
                    <h5 class="card-title text-center"><b>Cases</b></h5>
                    <hr>
                    <div class="d-grid gap-2 col-9 mx-auto">
                        {% if user.user_info.user_type == "Lawyer" %}
                        <a class="btn btn-primary btn-lg" href="{% url 'add_case' %}">ADD CASES</a>
                        {% endif %}
                        <a class="btn btn-primary btn-lg" href="{% url 'case_list' %}">SHOW MY CASES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}