{% extends 'base.html' %}
{% load static %}
{% block title %}Hello! {{ user | capfirst }}{% endblock %}
{% block extra_css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="screen">
{% endblock extra_css %}
{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-11 col-md-11 col-lg-11">
      <center>
        <h1>Quick Overview</h1>
        <h4>Quick overview of all the cases and their status.</h4>
        <hr>
        <h2> Cases </h2>
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Category</h3>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </center>
    </div>
    {% comment %}<div class="text-center">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo; </a>
        {% endif %}
        <span class="current">
          {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"> &raquo;</a>
        {% endif %}
      </span>
    </div>{% endcomment %}
  </div>
</div>
{% endblock content%}
{% block extra_js %}
<script type="text/javascript" src='{% static "js/ajax.js" %}'></script>
{% endblock extra_js %}
